<div class="container-fluid p-3">
    <h1 class="text-center fw-bold">Users List</h1>
    <ul class="list-group">
        <% @users.order(id: :asc).each do |user| %>
            <li><%= link_to(render('user_intro', user: user), user_path(user)) %></li>
        <% end %>
    </ul>
</div>
